.actions {
  padding: 1.6rem 0;
  @include flex-column-gap(8px);

  a {
    @include text(text-md);
    color: color(gray, 900);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: color(gray, 800);
    }
  }
}
