@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-center-gap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin cover-background($type) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $type;
}

@mixin button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
  pointer-events: none;
}

@mixin limit-vertical($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin limit-horizontal($size) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $size;
}

@mixin img($type) {
  width: 100%;
  height: 100%;
  object-fit: $type;
}

@mixin line-bottom($color) {
  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: solid 2px $color;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s ease-in-out;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin absolute-top-centered {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixed-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
